[submodule "puppet"]
	path = puppet
	url = https://github.com/puppet/puppet
	branch = 6.0.x
[submodule "facter"]
	path = facter
	url = https://github.com/puppetlabs/facter
[submodule "hiera"]
	path = hiera
	url = https://github.com/puppetlabs/hiera
[submodule "src"]
	path = puppetserver
	url = https://github.com/pcarlisle/puppetserver
	branch = docker-from-source
[submodule "vault_module"]
	path = code/environments/production/modules/vault_lookup
	url = https://github.com/tvpartytonight/vault_lookup
	branch = master
